@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav h1 {
    font-weight: 900;
    font-size: 48px;
    border-bottom: 1px solid black;
    margin-top: 20px;
    margin-bottom: 40px;
}

.flex-main {
    display: flex;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 500px;
}

.task-div {
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding: 20px 40px;
    border-radius: 20px;
}

.task-head {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    /* border-bottom: 1px solid black; */
}