<!-- templates/base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}TODO List{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <div class="nav">
            <h1><a href="{% url 'home' %}" class="no-decorate">TODO List</a></h1>
        </div>
        <div class="top-links">
            <p><a href="{% url 'create' %}">Create Task</a></p>
        </div>
        {% block content %}
        {% endblock content %}
    </body>

</html>
