{% extends 'base.html' %}

<title>{% block title %}Create New Task{% endblock title %}</title>
{% block content %}
<div class="main-flex">
    <h1 class="CRUD-header">Create a New Task</h1>
    <form class="form-flex" action="" method="post">{% csrf_token %}
        <ul>
            <li>Title: {{ form.title }}</li>
            <li>Extra Information: {{ form.info }}</li>
        </ul>
        <div class="end-btn-holder">
            <input type="submit" value="Create">
        </div>
    </form>
</div>
{% endblock content %}
