{% extends 'base.html' %}

<title>{% block title %}Are you sure?{% endblock title %}</title>
{% block content %}
<div class="main-flex">
    <h1 class="CRUD-header">Delete Task</h1>
    <form action="" method="post" class="form-flex">{% csrf_token %}
        <p class="description">Are you sure you want to <u>delete</u> "{{ task.title }}"</p>
        <div class="end-btn-holder">
            <input type="submit" value="DELETE" class="delete">
        </div>
    </form>
</div>
{% endblock content %}
