{% extends 'base.html' %}

<title>{% block title %}Todo Today{% endblock title %}</title>
{% block content %}
<div class="top-links">
    <p><a href="{% url 'create' %}">Create Task</a></p>
</div>
<div class="flex-main">
    <div class="main-content">
        {% for task in task_list %}
        <div class="task-div">
            <div class="task-head">
                <h2>{{ task.title }}</h2>
            </div>
            <p>{{ task.info }}</p>
            <div class="card-bottom-bar">
                <p>
                    <a href="{% url 'edit' task.pk %}">Edit</a> |
                    <a href="{% url 'delete' task.pk %}">Delete</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
